source https://www.nuget.org/api/v2
framework: netcoreapp2.1
storage: none
nuget Newtonsoft.Json == 11.0.2
nuget FSharp.Compiler.Service 28.0.0
nuget FSharp.Core 4.6.2
nuget Microsoft.NET.Sdk.Functions 1.0.26
nuget Microsoft.NET.Test.Sdk 15.9.0
nuget Thoth.Json.Net 3.0.0-beta-003 beta
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
github fsharp/FSharp.Data /src/Json/JsonInference.fs
nuget FSharp.Data 3.0.0